<% content_for :title do %>About<% end %>
<h3>Sobre o sistema Peladeiros</h3>
<p>
Essa aplicação foi desenvolvida com o intuito de gerenciar jogos de futebol amador. <br>
Foi feita com <%= link_to('Ruby On Rails', 'http://rubyonrails.org/') %> 5.0.0.1 e <%= link_to('Ruby', 'https://www.ruby-lang.org/') %> 2.3.1p112. <br>
<%= link_to('GitHub', 'https://github.com/VSPPedro/peladeiros.git') %> do projeto.
</p>
